################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/sudo_creat
/sudo_creat.psess
/sudo_creat4.psess
/sudo_creat3.psess
/sudo_creat2.psess
/sudo_creat180403.vspx
/sudo_creat180403(2).vspx
/sudo_creat180403(1).vspx
/sudo_creat1.psess
/sudo_creat/sudo_creat.vcxproj.user
/sudo_creat/sudo_creat.vcxproj.filters
/sudo_creat/sudo_creat.vcxproj
/sudo_creat/sudo.txt
/sudo_creat/PropertySheet.props
/arithmetic.png
/sudo_creat/x64
/x64/Release
/sudo_creat/Debug
/Debug
